@model RealEstates.Models.ContactUs

@{
    ViewData["Title"] = "Contact Us";
}

<br />
<div>
    <h4>Reach Us</h4>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Contact)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Message)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-info">Edit</a> |
    <a asp-action="Index" type="button" class="btn btn-info">Back to List</a>
</div>
